In [11]:
import pandas as pd
import numpy as np

bank_data = pd.read_csv('/Users/soumya/PycharmProjects/DMTeam20_Uni_Mannheim/input/bank-additional-full.csv', sep=';')
print(pd.__version__)
print(bank_data.head())
bank_data.info(memory_usage='deep')
print(bank_data.describe(include=[np.number]))

bank_data_target = np.array(bank_data['y'])
print(bank_data_target[:10])
#Extact columns with numeric values
bank_data_num = bank_data.select_dtypes(include=[np.number])
#Get the columns with numeric(continuous) values
numeric_columns = list(bank_data_num.columns.values)
numeric_columns

#Normalising data using Min-Max scaling => [(x - min(x)) / (min(x) - max(x))]
from sklearn import preprocessing

x = bank_data[numeric_columns].values  #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
bank_data_no_cols = pd.DataFrame(x_scaled, columns=numeric_columns, index=bank_data.index)
assert isinstance(bank_data_no_cols, object)
bank_data[numeric_columns] = bank_data_no_cols

#Encoding Categorical variables - Creating k dummy variables for an original variable k-categories  
bank_data_norm = bank_data

bank_data_norm_encoded = pd.get_dummies(bank_data_norm.drop(columns='y'))
bank_data_norm_encoded.head()

0.23.0
   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon ...         1    999         0  nonexistent          1.1
1   may         mon ...         1    999         0  nonexistent          1.1
2   may         mon ...         1    999         0  nonexistent          1.1
3   may         mon ...         1    999         0  nonexistent          1.1
4   may         mon ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 30.3 MB

               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
std        1.570960        0.578840       4.628198      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000
['no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no']

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>duration</th>
      <th>campaign</th>
      <th>pdays</th>
      <th>previous</th>
      <th>emp.var.rate</th>
      <th>cons.price.idx</th>
      <th>cons.conf.idx</th>
      <th>euribor3m</th>
      <th>nr.employed</th>
      <th>...</th>
      <th>month_oct</th>
      <th>month_sep</th>
      <th>day_of_week_fri</th>
      <th>day_of_week_mon</th>
      <th>day_of_week_thu</th>
      <th>day_of_week_tue</th>
      <th>day_of_week_wed</th>
      <th>poutcome_failure</th>
      <th>poutcome_nonexistent</th>
      <th>poutcome_success</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.481481</td>
      <td>0.053070</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.9375</td>
      <td>0.698753</td>
      <td>0.60251</td>
      <td>0.957379</td>
      <td>0.859735</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.493827</td>
      <td>0.030297</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.9375</td>
      <td>0.698753</td>
      <td>0.60251</td>
      <td>0.957379</td>
      <td>0.859735</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.246914</td>
      <td>0.045954</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.9375</td>
      <td>0.698753</td>
      <td>0.60251</td>
      <td>0.957379</td>
      <td>0.859735</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.283951</td>
      <td>0.030704</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.9375</td>
      <td>0.698753</td>
      <td>0.60251</td>
      <td>0.957379</td>
      <td>0.859735</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.481481</td>
      <td>0.062424</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.9375</td>
      <td>0.698753</td>
      <td>0.60251</td>
      <td>0.957379</td>
      <td>0.859735</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 63 columns</p>
</div>